@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.table-container {
    margin: 5rem 0;
    color: #383838;
    font-family: "Montserrat", sans-serif;
}

.table-container .hide{
    display: none;
}

table,
tr,
td, th {
    border: 1px solid #E1E1E1;
    border-collapse: collapse;
}
table tr td,
th {
    padding: 0 10px;
    text-align: left;
}

thead th {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    min-width: 175px;
    height: 40px;
}
thead th span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: .8rem;
    cursor: pointer;
}

tbody tr:nth-child(2n + 1) {
    background-color: #f5f5f5;
}
tbody td {
    width: auto;
    min-width: 175px;
    height: 40px;

    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

tbody .profile{
    display: flex;
    align-items: center;
}
.profile img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

tbody td a{
    color: #0071CC;
}